<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="../public/tailwind.css"/>
        <link rel="stylesheet" href="../public/style.css"/>
        
        <link rel="stylesheet" href="/tailwind.css" />
        <link rel="stylesheet" href="/style.css"/>
    <body>
        <nav>
            <p>BlogSite</p>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Protfolio</a>
                    <ul>
                        <li><a href="#">Digital Art</a></li>
                        <li><a href="#">Video Production</a></li>
                        <li><a href="#">Web Development</a></li>
                    </ul>
                </li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>


    </body>
</html>