<!DOCTYPE html>
<html>

<!-- load metadata -->
  <head>
    <meta charset="utf-8" />
    <title>BlogSite</title>
    <link rel="stylesheet" href="../public/tailwind.css"/>
    <link rel="stylesheet" href="../public/style.css"/>

    <link rel="stylesheet" href="/tailwind.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <!-- navigation bar -->
  <body class="bg-grey-lightest">

    <div id="navbar">
      <header  class="pin-x pin-t bg-purple shadow text-white">
        <div class="mx-auto h-16 p-4 flex items-center justify-between" style="width: 100%">
        <nav>
            <p>BlogSite</p>
            <div id="username">
            Signed in as {{ user.name }} ({{ user.email }})
            </div>  
            <div id="sign-out"> 
              <a href="/blogs" class="text-white border border-white rounded p-2 no-underline hover:bg-purple-light ml-4">back</a>
            </div>
            <ul>
              <li><a href="/hot-topics">Hot Topics</a></li>
                <li><a href="/blogs/new">New Blog</a></li>
                <li><a href="#">profile</a>
                    <ul>
                        <li><a href="/followers">Connections</a></li>
                        <li><a href="/my-blogs">My Blogs</a></li>
                        <li><a href="/community-blogs">Community blogs</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="/delete-account">Delete Profile</a></li>
                    </ul>
                </li>
                <li><a href="/blogs">Home</a></li>
            </ul>
        </nav>
      </div>
    </header>
  </div>



  <main class="h-screen flex flex-col items-center justify-center ">
    <form
      class="m-4 shadow-lg rounded-lg overflow-hidden w-64"
      method="POST"
      action="/delete-account"
    >
      <h1 class="text-2xl bg-grey-lighter p-4">Delete Account</h1>

      <label class="m-4 block">
        Name
        <input
          class="block rounded bg-grey-lighter p-2 mt-2 w-full"
          type="text"
          name="name"
          required
        />
      </label>

      <label class="m-4 block">
        Email Address
        <input
          class="block rounded bg-grey-lighter p-2 mt-2 w-full"
          type="email"
          name="email"
          required
        />
      </label>

      <label class="m-4 block">
        Password
        <input
          class="block rounded bg-grey-lighter p-2 mt-2 w-full"
          type="password"
          name="password"
          required
        />
      </label>

      <button
        type="submit"
        class="block w-auto rounded bg-purple text-white p-2 m-4 ml-auto"
      >
        Delete Account →
      </button>
    </form>
    <a
    href="/blogs"
    class="block mt-8 text-purple-light no-underline hover:underline"
    >Back</a
  >
  </main>
      <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
          } else {
            document.getElementById("navbar").style.top = "-60px";
          }
          prevScrollpos = currentScrollPos;
        }
      </script>
  </body>

</html>