<!DOCTYPE html>
<html>

<!-- load metadata -->
  <head>
    <meta charset="utf-8" />
    <title>BlogSite</title>
    <link rel="stylesheet" href="../public/tailwind.css"/>
    <link rel="stylesheet" href="../public/style.css"/>

    <link rel="stylesheet" href="/tailwind.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <!-- navigation bar -->
  <body class="bg-grey-lightest">

    <div id="navbar">
      <header  class="pin-x pin-t bg-purple shadow text-white">
        <div class="mx-auto h-16 p-4 flex items-center justify-between" style="width: 100%">
        <nav>
            <p>BlogSite</p>
            <div id="username">
            Signed in as {{ user.name }} ({{ user.email }})
            </div>  
            <div id="sign-out"> 
              <a href="/sign-out" class="text-white border border-white rounded p-2 no-underline hover:bg-purple-light ml-4">Sign Out</a>
            </div>
            <ul>
              <li><a href="/hot-topics">Hot Topics</a></li>
                <li><a href="/blogs/new">New Blog</a></li>
                <li><a href="#">profile</a>
                    <ul>
                        <li><a href="/followers">Connections</a></li>
                        <li><a href="/my-blogs">My Blogs</a></li>
                        <li><a href="/community-blogs">Community blogs</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="/delete-account">Delete Profile</a></li>
                    </ul>
                </li>
                <li><a href="/blogs">Home</a></li>
            </ul>
        </nav>
      </div>
    </header>
  </div>

    <!-- main content section of web page -->
  <main style="width: 90%" class="mx-auto mt-16 pt-4 items-center justify-between">    
    <div>
      <main class="flex justify-between">
          <div class="outercard" style="width: 100%">
              <h2>Hot Topics</h2><br><br>
              {{#each category}}
                <div class="innercard" style="transform: scale(1.0)">
                  <a class=" bg-white shadow rounded-lg text-black no-underline" href="/list-blogs-per-category/{{ category_id }}"> 
                    <h3 class="text-grey-darker uppercase text-base font-normal">Category Name {{ name }}</h3>
                    <p class="text-xl mt-2">Category ID  {{ category_id  }}<br><br></p>
                    <p class="text-xl mt-2">Description {{ description }}<br><br></p>
                    <h3 class="text-grey-darker uppercase text-base font-normal">Number of Visits : {{ totalNumberOfVisits }}</h3>
                  </a>
                </div>
              <br>
              {{/each}}
          </div>
      </div>

                                <!-- buttons/links to other web pages -->
      <section class="flex flex-wrap border border-grey-light border-l-0 border-r-0 border-b-0 mt-6 pt-6">
        <a href="/blogs/new" class="flex-auto w-64 m-4 p-5 bg-purple-light shadow rounded-lg text-3xl text-white no-underline flex items-center justify-center text-center">Add new blog</a>
      </section>
        
    </main>
      <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
          } else {
            document.getElementById("navbar").style.top = "-60px";
          }
          prevScrollpos = currentScrollPos;
        }
      </script>
  </body>

</html>