<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Community Timebank - Sign In</title>

  <!-- Tailwind.css is a CSS library. Read the docs here: -->
  <!-- https://tailwindcss.com/docs/what-is-tailwind -->
  <link rel="stylesheet" href="/tailwind.css" />
</head>

<body>
    <main class="h-screen flex flex-col items-center justify-center ">
        <a href="/sign-in" style="font: size 64px;; line-height:1.25em; text-align:center;">
        <span style="letter-spacing:0em;"><span style="font-size:64px;">BlogSite!</span></span></a>
    </main>
</body>

</html>