<!DOCTYPE html>
<html>

<!-- load metadata -->
  <head>
    <meta charset="utf-8" />
    <title>BlogSite</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/tailwind.css" />
  </head>

  <!-- navigation bar -->
  <body class="bg-grey-lightest">

    <div id="navbar">
      <header  class="pin-x pin-t bg-purple shadow text-white">
        <div class="mx-auto h-16 p-4 flex items-center justify-between" style="width: 1600px">
        <nav>
            <p>BlogSite</p>
            <div id="username">
            Signed in as {{ user.name }} ({{ user.email }})
            </div>  
            <div id="sign-out"> 
              <a href="/sign-out" class="text-white border border-white rounded p-2 no-underline hover:bg-purple-light ml-4">Sign Out</a>
            </div>
            <ul>
                <li><a href="#">Hot Topics</a></li>
                <li><a href="/blogs/new">New Blog</a></li>
                <li><a href="#">profile</a>
                    <ul>
                        <li><a href="/followers">Connections</a></li>
                        <li><a href="/my-blogs">My Blogs</a></li>
                        <li><a href="#">Community blogs</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="/delete-account">Delete Profile</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
      </div>
    </header>
  </div>

    <!-- main content section of web page -->
    <main style="width: 1600px" class="mx-auto mt-16 pt-4 items-center justify-between">

      <section class="flex items-center">
        <div class="m-4 p-6 rounded-lg bg-white flex-1 shadow flex flex-col-reverse">
          <h3 class="uppercase text-sm text-indigo-light font-semibold">Total Number of People Following</h3>
          <div class="text-5xl text-indigo font-semibold">{{ stats.totalTasks }}
            <span class="text-grey-dark uppercase text-base -ml-2 leading-none">users</span></div>
        </div>

        <div class="m-4 p-6 rounded-lg bg-white flex-1 shadow flex flex-col-reverse">
          <h3 class="uppercase text-sm text-indigo-light font-semibold">Total Number of Followers</h3>
          <div class="text-5xl text-indigo font-semibold">{{ stats.totalHours }}
            <span class="text-grey-dark uppercase text-base -ml-2">users</span></div>
        </div>

        <div class="m-4 p-6 rounded-lg bg-white flex-1 shadow flex flex-col-reverse">
          <h3 class="uppercase text-sm text-indigo-light font-semibold">Average Number of Likes Per Blog</h3>
          <div class="text-5xl text-indigo font-semibold">{{ stats.totalHours }}
            <span class="text-grey-dark uppercase text-base -ml-2">likes</span></div>
        </div>

      </section>
      <br>
      <h1 id="heading">Suggested Categories</h1>

      <div id="second">
            <main class="flex justify-between">
                <div class="outercard" style="width: 30%">
                  <a href="/list-blogs-per-category/{{category1.category_id}}">
                    <h2>{{category1.name}}</h2><br><br>
                    {{#each blogs1}}
                      <div class="innercard">
                        <a class=" bg-white shadow rounded-lg text-black no-underline" href="/blogs/{{ blog_id }}"> 
                          <h3 class="text-grey-darker uppercase text-base font-normal">Date Of Post:  {{ dateOfBlog }}</h3>
                          <p class="text-xl mt-2">{{ title  }}<br><br></p>
                          <p class="text-xl mt-2">{{ description }}<br><br></p>
                          <h3 class="text-grey-darker uppercase text-base font-normal">Duration Of Event : {{ duration }} hrs<br>Rating Of Event : {{ rating }} out of 5</h3>
                        </a>
                      </div>
                    <br>
                    {{/each}}
                    </a>
                </div>
                <div class="outercard" style="width: 30%">
                  <a href="/list-blogs-per-category/{{category2.category_id}}">
                    <h2>{{category2.name}}</h2><br><br>
                    {{#each blogs2}}
                    <div class="innercard">
                      <a class=" bg-white shadow rounded-lg text-black no-underline" href="/blogs/{{ blog_id }}"> 
                        <h3 class="text-grey-darker uppercase text-base font-normal">Date Of Post:  {{ dateOfBlog }}</h3>
                        <p class="text-xl mt-2">{{ title  }}<br><br></p>
                        <p class="text-xl mt-2">{{ description }}<br><br></p>
                        <h3 class="text-grey-darker uppercase text-base font-normal">Duration Of Event : {{ duration }} hrs<br>Rating Of Event : {{ rating }} out of 5</h3>
                      </a>
                    </div>
                  <br>
                  {{/each}}
                </a>
                </div>
                <div class="outercard" style="width: 30%">
                  <a href="/list-blogs-per-category/{{category3.category_id}}">
                    <h2>{{category3.name}}</h2> <br><br>
                    {{#each blogs3}}
                    <div class="innercard">
                      <a class=" bg-white shadow rounded-lg text-black no-underline" href="/blogs/{{ blog_id }}"> 
                        <h3 class="text-grey-darker uppercase text-base font-normal">Date Of Post:  {{ dateOfBlog }}</h3>
                        <p class="text-xl mt-2">{{ title  }}<br><br></p>
                        <p class="text-xl mt-2">{{ description }}<br><br></p>
                        <h3 class="text-grey-darker uppercase text-base font-normal">Duration Of Event : {{ duration }} hrs<br>Rating Of Event : {{ rating }} out of 5</h3>
                      </a>
                    </div>
                  <br>
                  {{/each}}
                </a>
                </div>
            </main>
        </div>
    <section>

      <!-- buttons/links to other web pages -->
      <section class="flex flex-wrap border border-grey-light border-l-0 border-r-0 border-b-0 mt-6 pt-6">
        <a href="/blogs/new" class="flex-auto w-64 m-4 p-5 bg-purple-light shadow rounded-lg text-3xl text-white no-underline flex items-center justify-center text-center">Add new blog</a>
      </section>
    </main>
      <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
          } else {
            document.getElementById("navbar").style.top = "-60px";
          }
          prevScrollpos = currentScrollPos;
        }
      </script>
  </body>

</html>



        
        <!-- load/render each blog on to main screen-->

        <!-- {{#each blogs}}
        <a class="flex-auto w-64 m-4 p-5 bg-white shadow rounded-lg text-black no-underline" href="/blogs/{{ blog_id }}"> 
          <h3 class="text-grey-darker uppercase text-base font-normal">Date Of Post:  {{ dateOfBlog }}</h3>
          <p class="text-xl mt-2">{{ title  }}<br><br></p>
          <p class="text-xl mt-2">{{ description }}<br><br></p>
          <h3 class="text-grey-darker uppercase text-base font-normal">Duration Of Event : {{ duration }} hrs<br>Rating Of Event : {{ rating }} out of 5</h3>
        </a>
        {{/each}} -->